body {
    background: linear-gradient(180deg, rgba(0, 1, 36, 1) 0%, rgba(175, 0, 255, 1) 30%, rgba(0, 232, 255, 1) 70%, rgba(0, 1, 36, 1) 100%);
}

img {
    max-width: 10rem;
}

.intro {
    display: grid;
    justify-content: center;
}

.intro__fruits-coefficents {
    display: flex;
    list-style: none;
    margin-top: 120px;
    margin-bottom: 70px;
}

.intro__play,
.game-settings__btn {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    color: blueviolet;
    font-size: 40px;
    border: none;
}

.game__bet-btn {
    background-color: rgb(255, 255, 255);
    color: blueviolet;
    font-size: 40px;
    border: none;
}

.game__bet-btn:disabled {
    opacity: 0.4;
}

.game__bet {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.game-settings {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 300ms 500ms;
}

.game {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%) scale(0);
    transition: transform 500ms 300ms;
}

.game__balance {
    font-size: 40px;
    right: -100px;
    top: 40px;
    position: absolute;
    color: white;
}

.show-settings .game-settings {
    transform: translate(-50%, -50%);
}

.show-settings .intro,
.show-game .intro {
    transform: translateX(-100%);
    transition: transform 500ms;
}

.show-game .game {
    transform: translate(-50%);
}

.show-game .game-settings {
    transition-delay: 0ms;
}



.game__row {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.game {
    text-align: center;


}

.game__fruits {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: center;
}


.game__title {
    font-size: 50px;
    color: white;
    margin: 2rem 0;
}

.game__column {
    height: 4rem;
    overflow: hidden;
}

.game__column img {
    max-width: 4rem;
}

.bet-animation .game__column-container {
    transform: translateY(calc(-100% + 4.15rem));
    transition: transform 1s;
}

.game-settings__row-count,
.game-settings__deposit-amount,
.game__bet-amount {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    color: blueviolet;
}


.game-settings__row-count {
    margin-bottom: 10px;
}

.game-settings__form {
    display: grid;
}

.intro__title {
    color: white;
    font-size: 70px;
    text-align: center;
    margin-top: 30px;
}

.invalid {
    border: 1px solid red;
}

@media only screen and (max-width: 700px) {
    img {
        max-width: 3rem;
    }

    ;

    .intro__fruits-coefficents {
        margin-top: 100px;
    }

    .game__balance {
        font-size: 40px;
        right: 50px;
        color: white;
        top: 480px;
        text-align: center;
        position: absolute;
        left: 50px;
    }
}